<section class="hero">
    <h2>Formez-vous aux métiers du Commerce et du Management</h2>
    <p>Une formation d’excellence pour bâtir votre avenir professionnel</p>
    <a href="#" class="btn"  routerLink="/ecole">Payé les frais scolaire</a>
    <a href="#" class="btn" routerLink="/connexionEcole">Espace administrateur</a>
</section>

      
<section>
    <h3>À propos de l’ISCOM</h3>
    <p>
        L’Institut Supérieur de Commerce et de Management forme des leaders capables de répondre
        aux exigences du marché moderne grâce à une formation pratique et innovante.
    </p>
</section>

<section>
    <h3>Nos Filières</h3>
    <div class="grid">
        <div class="card">
            <h4>Gestion</h4>
            <p>Management des entreprises</p>
        </div>
        <div class="card">
            <h4>Finance</h4>
            <p>Comptabilité & audit</p>
        </div>
        <div class="card">
            <h4>Marketing</h4>
            <p>Stratégie commerciale</p>
        </div>
        <div class="card">
            <h4>Informatique</h4>
            <p>Gestion & systèmes numériques</p>
        </div>
    </div>
</section>

<section class="stats">
    <h3>Chiffres Clés</h3>
    <div class="grid">
        <div class="card">
            <h2>+1000</h2>
            <p>Étudiants</p>
        </div>
        <div class="card">
            <h2>85%</h2>
            <p>Insertion pro</p>
        </div>
        <div class="card">
            <h2>+50</h2>
            <p>Partenaires</p>
        </div>
        <div class="card">
            <h2>10+</h2>
            <p>Années d’expérience</p>
        </div>
    </div>
</section>

<section>
    <h3>Contact</h3>
    <p>Email : contact@iscom.cg</p>
    <p>Téléphone : +242 XXX XXX XXX</p>
</section>
